<section class="bar background-white no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
          <iframe src="//player.vimeo.com/video/163899567" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h4 class="block-header">To Our&nbsp;Readers:</h4>
        A powerful lie we cling to is that no one understands us or where we’re at. By believing this, we stay stuck and alone. These
        letters, then, are like Lie-Be-Gone treatment: Sisters further down the road empathizing and encouraging you in your
        own path, calling you into our loving Creator’s light and into honest relationships with one another. As the adage
        goes, “Learn from experience, preferably others’.” Going through something specific? Use the “Search” function to
        find letters that speak to that theme. You must encourage one another each day. And you must keep on while there
        is still a time that can be called “today.” If you don’t, then sin may fool some of you and make you stubborn. Hebrews
        3:13 (CEV)
      </div>
      <div class="col-md-6">
        <h4 class="block-header">To Our&nbsp;Writers:</h4>
        We want you to experience the closure, insight, and freedom that can come with sharing your story. You need not attach a
        name to your letter – just write it and let the Spirit unleash Her healing within you. And, by letting us eavesdrop
        on your conversation with your former self, maybe we can also glean some wisdom for our own life journeys. To contribute,
        see our Submission Guidelines. “...and you will know the truth, and the truth will make you free… So if the Son makes
        you free, you will be free indeed.” — John 8:32, 36 (NRSV)
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-lg btn-default center-block" href="/about" role="button">Read More</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

  </div>
</section>